[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
ulid-py = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "zsh -c 'pipenv requirements > src/requirements.txt && sam build && sam local start-api'"
build = "zsh -c 'pipenv requirements > src/requirements.txt && sam build'"
